<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <div class="mt-4">
            <ion-label>Color</ion-label>
            <ion-input class="border-rounded mt-2" (ionFocus)="openPicker()"
                       [(ngModel)]="selectedColor"></ion-input>
        </div>
    </div>
</ion-content>
